---
title: Now
permalink: /now/
layout: html
date: Last Modified
---
{{> header}}

<div class="page-content">
  <article class="post post--single">
    <header class="post__header">
      <h1 class="site-title">What am I doing</h1>
    </header>
      
    <div class="post__content">
      <p>Last updated: <strong>01, April 2019</strong>.</p>

      <p>My main focuses these days are balancing personal life, work and hobbies. Keeping my inbox at zero.</p>

      <ul>
        <li>Get better at animations and transitions in CSS</li>
        <li>Use React or Angular in Drupal projects to make everyting more interactive</li>
      </ul>>
    </div>    
  </article>
</div>

{{> footer}}