---
default: true
---
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {{> head}}
  </head>
  <body>
      <header class="header wrapper">
          <h1 class="site-name"><a href="/">Anders Grendstadbakk</a></h1>
          {{!-- <p class="subtitle">is a web developer++</p> --}}
          <ul class="menu">
            <li class="menu__item">
              <a class="menu__link" href="/about">About</a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="/archive">Archive</a>
            </li>
          </ul>
      </header>
      
      {{{content}}}

      <footer class="wrapper">
        <p>© <strong>Anders Grendstadbakk</strong> {{date_now "Y"}}</p>
      </footer>
  </body>
</html>
