.archive-list {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
  position: relative;
  padding-left: 10em;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0;

  &__item {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding: 1.5em 0;
  }
  &__year {
    position: absolute;
    left: 0;
    width: 10em;
    padding: 1.5em 0;
    text-align: center;
  }
  &__post {}
  &__title {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.archive-page {
  // background: #333;
  // color: #FFF;
}