.site-footer {
  // background-color: #f4f2f0;
  grid-area: "footer";
  border-top: 1px solid #e9e9e9;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  font-size: 0.95em;

  &__item {
    margin-right: 30px;
    margin-bottom: 0;
  }

  a {
    border-bottom: 1px solid transparent;
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    transition: all 0.3s ease;
    &:hover {
      border-color: #333;
      color: rgba(0, 0, 0, 1);
    }
  }
}