<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:300,400,600" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link rel="stylesheet" href="/assets/css/card.css" />
  </head>
  <body class="card">
    <header class="header">
      <div class="header__inside">
        <h1 class="site-name header__title">
          <span class="">Anders</span> <span>Grendstadbakk</span>
        </h1>
      </div>
    </header>

    <div class="card__body">
      <h1>{{ post.data.title }}</h1>
    </div>
  </body>
</html>