<footer class="site-footer h-card">
  <p class="site-footer__item">
    <strong>© 2019</strong><br />
    <a href="/" rel="me" class="p-name u-url">Anders Grendstadbakk</a>
  </p>
  <p class="site-footer__item">
    <strong>Contact</strong><br />
    <a href="mailto:anders.2205@gmail.com" class="u-email">anders.2205@gmail.com</a>
  </p>
  <p class="site-footer__item">
    <strong>Social</strong><br />
    <a href="https://github.com/andeersg">Github</a> / <a href="https://twitter.com/andeersg">Twitter</a>
  </p>
</footer>