<footer class="l-grid site-footer h-card">
    <div class="site-footer__inner l-grid-wide">
      <div class="site-footer__item">
        <strong>© 2021</strong>
        <a href="/" rel="me" class="p-name u-url">Anders Grendstadbakk</a>
      </div>
      <div class="site-footer__item">
        <strong>Social</strong>
        <span>
          <a href="https://github.com/andeersg" rel="me">Github</a> / <a href="https://twitter.com/andeersg" rel="me">Twitter</a>
        </span>
      </div>
      <div class="site-footer__item">
        <strong>Edit</strong>
        <span>
          <a href="https://github.com/andeersg/andeers.com/blob/master/{{ page.inputPath }}">Edit this page on GitHub</a>
        </span>
      </div>
      <div class="site-footer__item site-footer__item--pull">
        <strong>Last build</strong>
        <span>{{currentDate 'LLLL dd, yyyy HH:mm'}}</span>
      </div>
    </div>
  </footer>