<header class="l-grid l-pad-small">
    <div class="header l-grid-wide">
      <h1 class="site-name"><a href="/">Andeers.com</a></h1>
      <nav class="primary-nav">
        <a class="primary-nav__item" href="/articles">Archive</a>
        <a class="primary-nav__item" href="/about">About</a>
      </nav>
    </div>
  </header>