<header class="header">
  <div class="header__inside">
    <h1 class="site-name header__title"><a href="/">Anders Grendstadbakk</a></h1>
    {{!-- <p class="subtitle">is a web developer++</p> --}}
    <ul class="menu">
      <li class="menu__item">
        <a class="menu__link" href="/articles">Articles</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="/about">About</a>
      </li>
     <!-- <li class="menu__item">
        <a class="menu__link" href="/now">Now</a>
      </li>-->
    </ul>
  </div>
</header>
