<!doctype html>
<html lang="en">
  <head>
    {{#if siteData.production }}
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23774700-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-23774700-2');
      </script>
    {{/if}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__inside">
        <h1 class="site-name header__title"><a href="/">Anders Grendstadbakk</a></h1>
        {{!-- <p class="subtitle">is a web developer++</p> --}}
        <ul class="menu">
          <li class="menu__item">
            <a class="menu__link" href="/articles">Articles</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="/about">About</a>
          </li>
        </ul>
      </div>
    </header>
    
    {{{ content }}}
    
    <footer class="site-footer">
      <p>© 2011–2018 <strong>Anders Grendstadbakk</strong></p>
    </footer>
  </body>
</html>

