---
layout: main
---
<div class="page-content">
  <article class="post post--single">
    <header class="post__header">
      <h1 class="site-title">{{ title }}</h1>
    </header>
      
    <div class="post__content">
      {{{ content }}}
    </div>    
  </article>
</div>