<ul class="timeline">
  {{#each timeline}}
    <li class="timeline__event">
      <span class="timeline__type">{{ type }}</span>
      <span class="timeline__date">{{ date }}</span>
      <span class="timeline__activity">{{ activity }}</span>
    </li>
  {{/each}}
</ul>