/**
 * @file
 * Contains base styling for most HTML elements.
 *
 * This file should only have html-tags and no classes'n stuff like that.
 */

/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src:
    local('Ubuntu'),
    url('/assets/fonts/ubuntu-400.woff2') format('woff2'),
    url('/assets/fonts/ubuntu-400.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src:
    local('Ubuntu-light'),
    url('/assets/fonts/ubuntu-300.woff2') format('woff2'),
    url('/assets/fonts/ubuntu-300.woff') format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: $fontSize_base;
  font-weight: $font-weight-normal;
  line-height: 1.5;
  color: #404d5b;

  margin: 0;
  padding: 0;
}
.loaded-fonts body {
  font-family: 'Ubuntu';
}

h1 {
  font-weight: $font-weight-normal;
  position: relative;
  font-size: 1.6rem;
}
h2 {
  font-weight: $font-weight-normal;
  position: relative;
  font-size: 1.4rem;
}

p {
  margin-bottom: 20px;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #b6422b;
}

strong {
  font-weight: $font-weight-bold;
}

ul {
  list-style-type: square;
}

pre {
  background-color: #f5f2f0;
  padding: 15px;
  overflow: scroll;
  code {
    font-size: 14px;
    color: #000;
  }
}
code {
  font-family: monospace;
}
:not(pre) > code {
  background-color: #f5f2f0;
  color: #333;
  padding: 0.2em 5px;
  font-size: 0.8em;
  border-radius: 2px;
}

blockquote {
  text-align: center;
  font-size: 1.1em;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #111;
}
table {
  width: 100%;
}
