/**
 * @file
 * Contains base styling for most HTML elements.
 *
 * This file should only have html-tags and no classes'n stuff like that.
 */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: $fontSize_base;
  font-weight: 300;
  line-height: 1.5;
  color: #404d5b;

  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 300;
  position: relative;
  font-size: 1.6rem;
}
h2 {
  font-weight: 300;
  position: relative;
  font-size: 1.4rem;
}
h3 {
  font-weight: 300;
  position: relative;
  font-size: 1.2rem;
}

p {
  margin-bottom: 20px;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: #262626;
}

strong {
  font-weight: 500;
}

ul {
  list-style-type: square;
}
ol {}

pre {
  background-color: #f5f2f0;
  padding: 15px;
  overflow: scroll;
  code {
    font-size: 14px;
    color: #000;
  }
}
code {
  font-family: monospace;
}
:not(pre) > code {
  background-color: #f5f2f0;
  color: #333;
  padding: 0.2em 5px;
  font-size: 0.8em;
  border-radius: 2px;
}

blockquote {
  text-align: center;
  font-size: 1.1em;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #111;
}
cite {}

input {}

table {
  width: 100%;
}
