$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 26px;


$body_color: #FFFFFF; // #F1F2F1

$color-primary: #0e9daf;
$pColor: #1976D2; // #53ABCF

$font-primary: 'Anonymous Pro', monospace;
