$fontSize_base: 19px;



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;



$site-width: 760px;



// FONT

// Font weights
$font-weight-normal: 300;
$font-weight-bold: 400;

// COLORS

// Primary colors
$color-primary-1: #4daab3;
$color-primary-2-lighter: #7CD4E8;
$color-primary-2: #58CAE7;
$color-primary-2-darker: #35ADC9;
$color-primary-3: #243C4B;

// GRID
$grid-width-wide: 1400px;
$grid-width: 1200px;
$grid-width-narrow: 1000px;

//$grid-gutter: $baseline-space * 3;

$break-xsmall: 350px;
$break-small: 600px;
$break-medium: 750px;
$break-large: 1000px;
$break-desktop: $grid-width;
$break-xlarge: $grid-width-wide;


// The new color stuff:
$color-main: #16a9c7;
$color-alt: #FF2D17;

$color-white: #fff;
$color-dark: #444;

