:root {
  --color-text: #e1dede;
  --color-background: #18181c;
  --color-theme: #AA3939; /*#ff5277;*/

  --font-mono: 'monospace';

  --l--grid-width-narrow: 42rem;
  --l--grid-width-wide: 66rem;
}
.light-mode {
  --color-text: #18181c;
  --color-background: #ffffff;
}


@import 'base';
@import 'prism';

header,
footer {
  flex: none;
}
main {
  flex: 1 0 auto;
  outline: none;
}


a {
  color: var(--color-text);
  text-decoration: none;
}

.l-grid {
  display: grid;
  grid-template-columns: [full-start] minmax(1rem,1fr) [wide-start] minmax(0,calc((var(--l--grid-width-wide) - var(--l--grid-width-narrow))/2)) [narrow-start] var(--l--grid-width-narrow) [narrow-end] minmax(0,calc((var(--l--grid-width-wide) - var(--l--grid-width-narrow))/2)) [wide-end] minmax(1rem,1fr) [full-end];
  @media screen and (max-width: 800px) {
    margin:0;
    padding:0 1rem;
    grid-template-columns:[full-start wide-start narrow-start] minmax(1rem,1fr) [narrow-end wide-end full-end]
  }
}
.l-grid-wide {
  grid-column: wide;
}
.l-grid-narrow {
  grid-column: narrow;
}

.l-pad-small {
  padding-top: 20px;
  padding-bottom: 20px;
}
.l-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.l-center-vert {
  display: flex;
  align-items: center;
}
.l-space-between {
  justify-content: space-between;
}
.l-split {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skip-to-content {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
}
.site-name {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  a {
    padding: 10px 15px;
    display: block;
  }
}

.primary-nav {
  display: flex;
}
.primary-nav__item {
  display: block;
  padding: 10px 15px;
  position: relative;
}
/* .primary-nav__item::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 10px;
  right: 10px;
  height: 5px;
  background-color: var(--color-theme);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform ease 0.3s;
}
.primary-nav__item:hover::after {
  transform: scaleX(1);
} */

@import 'components/intro';

.latest {
  /* background-color: #2d2d42; */
}

.section__title {
  position: relative;
  font-weight: 400;
  margin-bottom: 40px;
}
.section__title::after {
  content: '';
  border: 2px solid var(--color-text);;
  position: absolute;
  left: 0;
  top: 1.5em;
  height: 0px;
  width: 100px;
}

.site-footer {
  margin-top: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #2d2d2d;
  font-size: 14px;
}
.site-footer__inner {
  display: flex;
}
.site-footer__item {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}
.site-footer__item:last-child {
  margin-right: 0;
}
.site-footer a {
  text-decoration: underline;
}


.recent-post {
  margin-bottom: 25px;
}
.recent-post__title {
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 5px;
}
.recent-post__tldr {
  margin-top: 0;
}
.recent-post__meta {
  font-size: 0.8em;
}

.archive-item {
  display: flex;
  &__link {}
  &__date {
    font-family: var(--font-mono);
    margin-right: 20px;
    color: #868686;
    order: -1;
  }
}

.site-title {
  font-size: 2.5em;
}


.draft-tag {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 20px;
}