@import 'base';

@import 'grids';
@import 'generic/okaida';
@import 'components/header';
@import 'components/article';
@import 'components/sections';
@import 'components/latest';
@import 'components/post';
@import 'components/footer';
@import 'components/archive';
@import 'components/timeline';

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width);
}
footer {
  grid-column: 1 / -1;
}

.subtitle {
  margin-top: 0;
  font-size: 32px;
  grid-column: 1;
}
.menu {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
  list-style: none;
  padding: 0;
}
.menu__item {
  display: inline-block;
  margin-right: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  color: #333;
  text-decoration: none;
  font-weight: 700;
  transition: color var(--transition-fast) ease;
}
.menu__link:hover {
  color: var(--theme-color);
}

.site-name a {
  color: #333;
  text-decoration: none;
}

.grid-list {
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  @media screen and (max-width: 900px) {
    grid-template-columns: 1fr;
    padding-left: 20px;
    padding-right: 20px;
  }
}

// .tag {
//   margin-left: 10px;
//   display: inline-block;
//   color: var(--theme-color);
//   font-family: 'IBM Plex Mono', monospace;
//   font-weight: 700;
// }
// .tag::before {
//   content: '•';
//   margin-right: 10px;
//   color: #333;
// }
.outdated {
  padding: 20px;
  font-size: 0.9em;
}
