---
layout: main
isFront: true
permalink: /
---
<section class="l-grid intro">
  <div class="l-grid-wide l-center-vert l-space-between intro__inner">
    <div>
      <h1 class="h2">Hi, I'm Anders Grendstadbakk.</h1>
      <p>Enjoy creating websites and sharing stuff I figure out along the way</p>
    </div>
    {% iconLoader "dev2" %}
    {% iconLoader "circle" %}
    {% iconLoader "hexa" %}
    {% iconLoader "triangle" %}
  </div>
</section>

<section class="l-grid section latest">
  <div class="l-grid-wide">
    <h2 class="section__title">Latest writings</h2>
    <div class="l-split">
    {% for post in collections.latestPosts %}
      <article class="recent-post">
        <h3 class="recent-post__title"><a class="latest__link" href="{{ post.url }}">{{ post.data.title }}</a></h3>
        <p class="recent-post__tldr">{{ post.data.tldr }}</p>
        <p class="recent-post__meta">{{ post.date | readableDate}}</p>
      </article>
    {% endfor %}
  </div>
  </div>
</section>