---
title: /Now
subtitle: What I'm currently doing/working on  
permalink: /now/
layout: page
date: Last Modified
---

<p>Last updated: <strong>{{readableDate page.date}}</strong>.</p>

<p>Because of the Corona situation I have been working from home since March 13.</p>

<p>Working from home has been nice for me with a 4 month old daughter in the house.</p>

<p>Some other things:</p>

<ul>
  <li>Mostly Drupal at work</li>
  <li>Mostly Node and JS after work</li>
  <li>Been motivated to work on this website</li>
  <li>More motivated to blog. Really want to keep that up.</li>
</ul>
