:root {
  --max-width: 1200px;
  --article-width: 740px;
  --font-family: 'Titillium Web', sans-serif;
  --theme-color: #eb2c2c;
  --link-color: #FFF;
  --transition-fast: 0.2s; }

.now-text {
  font-size: 24px; }
