@charset "UTF-8";
:root {
  --max-width: 1200px;
  --article-width: 740px;
  --font-family: 'Titillium Web', sans-serif;
  --theme-color: #FF5050;
  --link-color: #FFF;
  --transition-fast: 0.2s; }

* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  font-size: 18px;
  background: #fdfbfb;
  font-weight: 300;
  border-top: 6px solid var(--theme-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  color: inherit;
  text-decoration: underline;
  -webkit-text-decoration-color: var(--theme-color);
  text-decoration-color: var(--theme-color);
  transition: color 0.3s ease;
  font-weight: 500; }
  a:hover {
    color: var(--theme-color); }

p {
  margin-top: 0;
  margin-bottom: 20px;
  color: #454545; }

pre {
  background-color: #333;
  color: #FFF;
  font-family: monospace;
  font-size: 13px;
  padding: 20px;
  overflow-x: scroll; }

code {
  background-color: #EEE;
  font-size: 15px;
  padding-top: 1px;
  padding-bottom: 1px; }

pre code {
  background-color: transparent; }

.grid {
  display: grid; }
  .grid--front {
    grid-template-columns: 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    max-width: var(--max-width);
    grid-gap: 30px; }
    @media screen and (max-width: 900px) {
      .grid--front {
        grid-template-columns: 1fr;
        padding-left: 20px;
        padding-right: 20px; } }
  .grid--article {
    grid-template-columns: 1fr 1fr 10px var(--article-width) 10px 1fr 1fr; }

.header {
  background-color: #f4f2f0; }
  .header__inside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px; }
  .header__title {
    font-weight: 400;
    font-size: 32px;
    margin-bottom: 0;
    line-height: 1.1;
    grid-column: 1; }

.article > * {
  grid-column: 4; }

.article__header {
  grid-column: 4;
  text-align: center; }

.article__title {
  /* font-size: 42px; */
  font-size: calc( 36px + (160 - 100) * (100vw - 300px) / (1920 - 300));
  line-height: 1;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: -1px; }

.article__tldr {
  font-size: 22px; }

.article__meta {
  font-size: 16px; }

.article pre {
  grid-column: 3 / span 2; }

.wrapper--front {
  width: var(--article-width);
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }

.section {
  padding-top: 40px;
  margin-bottom: 40px; }
  @media screen and (max-width: 600px) {
    .section {
      padding-left: 10px;
      padding-right: 10px; } }

.section__title {
  border-bottom: 1px solid #dadada;
  padding-bottom: 10px;
  margin-bottom: 20px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  grid-column: 1 / -1; }

.latest {
  border-bottom: 1px solid #dadada;
  padding-bottom: 10px;
  margin-bottom: 20px; }
  .latest__title {
    font-weight: 500;
    font-size: 1.6em;
    color: #333; }
  .latest__link {
    color: inherit;
    text-decoration: underline;
    -webkit-text-decoration-color: var(--theme-color);
    text-decoration-color: var(--theme-color); }
    .latest__link:hover {
      color: var(--theme-color); }

.post__header {
  width: var(--article-width);
  margin-left: auto;
  margin-right: auto; }

.post__byline {
  margin-top: 50px;
  margin-bottom: 0; }

.post__meta {
  font-size: 13px;
  margin-bottom: 11px;
  font-weight: 700;
  font-family: 'IBM Plex Mono', monospace; }

.post__content {
  display: grid;
  grid-template-columns: 1fr 1fr 10px var(--article-width) 10px 1fr 1fr;
  max-width: 100%; }
  .post__content > * {
    grid-column: 4; }
  .post__content pre {
    grid-column: 3 / span 3; }
  @media screen and (max-width: 1200px) {
    .post__content {
      grid-template-columns: 10px 1fr 10px; }
      .post__content > * {
        grid-column: 2; }
      .post__content pre {
        grid-column: 1 / span 3; } }

.site-title {
  margin-top: 10px;
  line-height: 1;
  font-weight: 500;
  font-size: 42px;
  margin-bottom: 50px; }

.site-footer {
  background-color: #f4f2f0;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px; }

.archive-list {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
  position: relative;
  padding-left: 10em;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
  margin-bottom: 0; }
  .archive-list__item {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding: 1.5em 0; }
  .archive-list__year {
    position: absolute;
    left: 0;
    width: 10em;
    padding: 1.5em 0;
    text-align: center; }
  .archive-list__title {
    margin-top: 0;
    font-size: 20px;
    margin-bottom: 5px; }

.wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--max-width); }

footer {
  grid-column: 1 / -1; }

.subtitle {
  margin-top: 0;
  font-size: 32px;
  grid-column: 1; }

.menu {
  grid-column: 2;
  grid-row: 1;
  text-align: right;
  list-style: none;
  padding: 0; }

.menu__item {
  display: inline-block;
  margin-right: 10px; }

.menu__item:last-child {
  margin-right: 0; }

.menu__link {
  color: #333;
  text-decoration: none;
  font-weight: 700;
  transition: color var(--transition-fast) ease; }

.menu__link:hover {
  color: var(--theme-color); }

.site-name a {
  color: #333;
  text-decoration: none; }

.grid-list {
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px; }
  @media screen and (max-width: 900px) {
    .grid-list {
      grid-template-columns: 1fr;
      padding-left: 20px;
      padding-right: 20px; } }

.tag {
  margin-left: 10px;
  display: inline-block;
  color: var(--theme-color);
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700; }

.tag::before {
  content: '•';
  margin-right: 10px;
  color: #333; }

.outdated {
  padding: 20px;
  font-size: 0.9em; }
