:root {
  --color-text: #e1dede;
  --color-background: #18181c;
  --color-theme: #AA3939;
  /*#ff5277;*/
  --font-mono: 'monospace';
  --l--grid-width-narrow: 42rem;
  --l--grid-width-wide: 66rem; }

.light-mode {
  --color-text: #18181c;
  --color-background: #ffffff; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Libre Franklin', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100vh; }

a {
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s; }
  a:hover {
    color: var(--color-theme); }

/* PrismJS 1.17.1
https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+markup-templating+php */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #f8f8f2;
  background: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 15px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }
  @media screen and (max-width: 800px) {
    code[class*="language-"],
    pre[class*="language-"] {
      font-size: 14px; } }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
  border-radius: 0.3em; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #272822; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #f8f8f2; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #f92672; }

.token.boolean,
.token.number {
  color: #ae81ff; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #a6e22e; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #f8f8f2; }

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #e6db74; }

.token.keyword {
  color: #66d9ef; }

.token.regex,
.token.important {
  color: #fd971f; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

header,
footer {
  -webkit-box-flex: 0;
          flex: none; }

main {
  -webkit-box-flex: 1;
          flex: 1 0 auto;
  outline: none; }

a {
  color: var(--color-text);
  text-decoration: none; }

.l-grid {
  display: grid;
  grid-template-columns: [full-start] minmax(1rem, 1fr) [wide-start] minmax(0, calc((var(--l--grid-width-wide) - var(--l--grid-width-narrow))/2)) [narrow-start] var(--l--grid-width-narrow) [narrow-end] minmax(0, calc((var(--l--grid-width-wide) - var(--l--grid-width-narrow))/2)) [wide-end] minmax(1rem, 1fr) [full-end]; }
  @media screen and (max-width: 800px) {
    .l-grid {
      margin: 0;
      padding: 0 1rem;
      grid-template-columns: [full-start wide-start narrow-start] minmax(1rem, 1fr) [narrow-end wide-end full-end]; } }

.l-grid-wide {
  grid-column: wide; }

.l-grid-narrow {
  grid-column: narrow; }

.l-pad-small {
  padding-top: 20px;
  padding-bottom: 20px; }

.l-centered {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center; }

.l-center-vert {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center; }

.l-space-between {
  -webkit-box-pack: justify;
          justify-content: space-between; }

.l-split {
  display: grid;
  grid-template-columns: 1fr 1fr; }

.skip-to-content {
  display: none; }

.header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between; }

.site-name {
  font-weight: 400;
  font-size: 18px;
  margin: 0; }
  .site-name a {
    padding: 10px 15px;
    display: block; }

.primary-nav {
  display: -webkit-box;
  display: flex; }

.primary-nav__item {
  display: block;
  padding: 10px 15px;
  position: relative; }

/* .primary-nav__item::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 10px;
  right: 10px;
  height: 5px;
  background-color: var(--color-theme);
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform ease 0.3s;
}
.primary-nav__item:hover::after {
  transform: scaleX(1);
} */
.intro {
  height: 50vh; }
  @media screen and (max-width: 800px) {
    .intro {
      height: auto; } }
  @media screen and (max-width: 800px) {
    .intro__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
              flex-direction: column; } }

.intro h1 {
  font-weight: 300;
  margin-bottom: 5px; }

.intro p {
  font-size: 18px;
  margin-top: 0; }

.intro a {
  -webkit-transition: color ease 0.3s;
  transition: color ease 0.3s; }

.intro a:hover {
  color: var(--color-theme); }

.me {
  width: 300px;
  height: 300px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
  z-index: 1; }
  @media screen and (max-width: 800px) {
    .me {
      width: 200px;
      height: 200px; } }
  .me__img {
    position: relative;
    width: 220px;
    z-index: 3; }
    .me__img:hover::before {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0); }
    @media screen and (max-width: 800px) {
      .me__img {
        width: 160px;
        height: 160px; } }
    .me__img::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      -webkit-transition: -webkit-transform ease 0.3s;
      transition: -webkit-transform ease 0.3s;
      transition: transform ease 0.3s;
      transition: transform ease 0.3s, -webkit-transform ease 0.3s;
      -webkit-transform: translate(20px, 20px);
              transform: translate(20px, 20px);
      border: 3px solid var(--color-theme);
      z-index: 2; }
  .me__picture {
    max-width: 100%;
    max-height: auto;
    display: block; }

.latest {
  /* background-color: #2d2d42; */ }

.section__title {
  position: relative;
  font-weight: 400;
  margin-bottom: 40px; }

.section__title::after {
  content: '';
  border: 2px solid var(--color-text);
  position: absolute;
  left: 0;
  top: 1.5em;
  height: 0px;
  width: 100px; }

.site-footer {
  margin-top: 25px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 1px solid #2d2d2d;
  font-size: 14px; }

.site-footer__inner {
  display: -webkit-box;
  display: flex; }

.site-footer__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin-right: 25px; }

.site-footer__item:last-child {
  margin-right: 0; }

.site-footer a {
  text-decoration: underline; }

.recent-post {
  margin-bottom: 25px; }

.recent-post__title {
  font-weight: 700;
  font-size: 23px;
  margin-bottom: 5px; }

.recent-post__tldr {
  margin-top: 0; }

.recent-post__meta {
  font-size: 0.8em; }

.archive-item {
  display: -webkit-box;
  display: flex; }
  .archive-item__date {
    font-family: var(--font-mono);
    margin-right: 20px;
    color: #868686;
    -webkit-box-ordinal-group: 0;
            order: -1; }

.site-title {
  font-size: 2.5em; }

.draft-tag {
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 20px; }
