.post {
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 30px;
  &__title {
    margin-top: 0;
    font-weight: $font-weight-normal;
    font-size: 42px;
    margin-bottom: 5px;
    @include break(medium) {
      font-size: 28px;
    }
  }
  &__byline {
    color: #565656;
    font-size: 16px;
    margin-bottom: 10px;
    a {
      color: inherit;
    }
  }
  p {
    &:only-of-type {
      margin-bottom: 0;
    }
  }

  &--feed {
    .post {
      &__title {
        a {
          color: inherit;
          font-weight: inherit;
          &:hover {
            color: #b6422b;
          }
        }
      }
    }
  }
  &__content {}
}
