<!DOCTYPE html>
<html>
  <head>
  {% include head.html %}
  </head>

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
    <script src="{{ "/assets/js/prism.js" | prepend: site.baseurl }}"></script>
    <script>
      NodeList.prototype.forEach = Array.prototype.forEach;

      var headlines = document.querySelectorAll('h1,h2').forEach(function(el) {
        if (el.id !== '') {
          var anchor = document.createElement('a');
          anchor.classList.add('js-anchor');
          anchor.href = '#' + el.id;
          anchor.innerText = '#';
          el.insertBefore(anchor, el.firstChild);
          console.log('Inserting anchors');
        }
      });
    </script>
  </body>
</html>
