---
layout: default
---
<div class="section">
<article class="post post--single">

  <header class="post__header">
    <div class="post__byline">
      <span rel="author" class="author">Anders</span> // 
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%-d %b %Y" }}</time>
      <span>{% if page.meta %} • {{ page.meta }}{% endif %}</span>
    </div>
    <h1 class="post__title">{{ page.title }}</h1>
  </header>

  <div class="post__content">
    {{ content }}
  </div>

</article>
</div>